/*====================
========Header========
======================*/

header{
	border: 0;
	border-radius: 0;
	margin: 0;
}

.header {
	height: 4em;
}

.logo {

	opacity: 1;
	padding-left: 1.3em;
	position: absolute;
	transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	z-index: 1001;

	&.fixed{
		position: fixed;
	}

	img {
		width: 80%;
	}
	
	@include respond-to('sm'){

		opacity: 0;
		padding-left: 0;
		position: fixed;
		transform: translateX(0);
		z-index: 1001;

		&.active {
			opacity: 1;
			transform: translateX(10%);

			img {
				width: 75%;
			}
		}
	}

	@include respond-to('xs'){

		opacity: 0;
		padding-left: 0;
		position: fixed;
		transform: translateX(0);
		z-index: 1001;
		
		&.active {
			opacity: 1;		
			transform: translateX(10%);

			img {
				width: 65%;
			}
		}
	}
}

.menu-button {

	display: none;

	@include respond-to('lg'){
		display: none;
	}

	@include respond-to('md'){
		display: none;
	}

	@include respond-to('sm'){
		display: inline-block;
		border-radius: 50%;
		cursor: pointer;
		position: fixed;
		right: 30px;
		top: 10px;
		transition: background .2s ease;
		transition-delay: .15s;
		z-index: 1000;
	
		svg {
			background: $secondary-color;		
			border-radius: 50%;		
			height: 4.5em;
			transform: rotate(270deg);
			width: 4.5em;
			box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 1px 0 rgba(0, 0, 0, 0.19);
		}
			
		circle {
			stroke-width: 1;
			stroke: $secondary-color-dark;
			fill: none;
			//2 * Pi * 15 = 94,25
			stroke-dasharray: 95;
			//2 * stroke-dasharray
			stroke-dashoffset: 190;
			transition: all .6s ease;
			stroke-linecap: round;
		}

		#plus {
			transform-origin: 50% 50%;
			transition: all .8s ease;

			path {
				stroke-width: 2;
				stroke: $white;
				fill: none;
				stroke-linecap: round;
				stroke-linejoin: round;
			}
		}

		&.active {
			circle{
				stroke-dasharray: 95;
				stroke-dashoffset: 285;
			}
			#plus {
				stroke: $white;
				transform: rotate(45deg);
			}
			&:hover{
				background: rgba(white,.06);				
			}
		}
	}

	@include respond-to('xs'){
	
		svg {
			height: 3.5em;
			width: 3.5em;
		}
	}
}

.main-menu {

	position: absolute;
	top: 2.5em;
	right: 4em;
	z-index: 1001;

	ul li{
		display: inline;
		padding: 1.6em;
	
		@include respond-to('sm'){
			display: block;
		}
	}

	.menu-element {
		color: $grey;
		display: inline-block;
		font-size: 1.4em;
		font-weight: 400;

		&.active {
			color: $secondary-color;
			border-bottom: 0.1em solid $secondary-color !important;
		}

		@include respond-to('sm'){
			border-bottom: 0;
		}
	}

	@include respond-to('sm'){
		background-color: $white;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 100;
		height: 100%;
		width: 100%;
		display: table;
		text-align: center;
		opacity: 0;
		transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
		transform: scale(0);

		ul {
			padding: 40% 0;
	
		}
	
		&.active {
			opacity: 1;
			transform: scale(1);
	
			ul li {
			opacity: 1;
			transform: translateX(0);
			}
		}
	
		ul {
			display: table-cell;
			vertical-align: middle;
		}

		li {
			padding: 8px 0;
			transition: all 400ms 510ms;
			opacity: 0;
			&:nth-child(odd) {
				transform: translateX(30%);
			}
			&:nth-child(even) {
				transform: translateX(-30%);
			}
			&:last-child {
				transform: none;
			}
		}

		a {
			color: $secondary-color;
			display: inline-block;
			font-size: 2.5em;
		}
	}
	
}