.titulos {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}

.parallax-description {
  background-color: #282E34;
  color: #fff;
  padding: 1em 1em;
  text-align: justify;
  position: relative;
}

.parallax-text{
  color: #777;
  text-align: center;
  padding: 2em 3em;
  text-align: justify;
}

@include respond-to("sm") {
  p {
    font-size: 1em;
  }
  h3 {
    letter-spacing: 0.25em;
    font-size: 3em;
  }
  .titulos {
    h2 {
      font-size: 2.5em;
      letter-spacing: 0.1em;
    }
  }
  .titulos {
    span {
      font-size: 2.5em;
    }
  }
}

@include respond-to("xs") {
  span {
    font-size: 2em;
  }
}