body, html {
  height: 100%;
  margin: 0;
  font: 400/1.8 "Lato", sans-serif;
}

.parallax-image1 {
  background-image: url('../img/old-city.jpg');
}

.parallax-image2 {
  background-image: url("../img/vasa.jpg");
}

.parallax-image3 {
  background-image: url("../img/palace.jpg");
}

.parallax-image1, .parallax-image2, .parallax-image3 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50em;
}