p {
    font-size: 1.5em;
}
h3 {
    letter-spacing: 1em;
    text-transform: uppercase;
    font: 2em "Lato", sans-serif;
    color: #111; 
  }
.titulos{
  h2 {
    background-color:$black;
    color: white;
    padding: 0.5em;
    font-size: 3em;
    letter-spacing: 0.5em;
  }
}
  .titulos {
    span {
    
      background: rgba(0, 0, 0, 0.3);
      font-size: 5em;
      color: #f7f7f7;
    }
  }
  