/*media query*/
@mixin respond-to($breakpoint) {
    @if $breakpoint == "xs" {
        @media (max-width:479px) {
        @content;
        }
    }

    @else if $breakpoint == "sm" {
        @media (max-width:767px) {
        @content;
        }
    }

    @else if $breakpoint == "md" {
        @media (min-width:992px) and (max-width:1280px) {
        @content;
        }
    }

    @else if $breakpoint == "lg" {
        @media (min-width: 1920px) {
        @content;
        }
    }
}

@mixin button($font-size, $width) {
    background-color: $secondary-color;
    border: 0;
    border-radius: 0.2em;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 9px 0 rgba(0, 0, 0, 0.19);
    color: #fff;
    font-size: $font-size;
    height: 2em;
    line-height: 1em;
    width: $width;

    &:active, &:focus {
        background-color: $secondary-color-dark;        
        border-left: 0;
        border-bottom: 0;
        outline: none !important;  
    }
}

@mixin fadeIn($delay,$duration) {

    opacity: 1;
    animation-delay: $delay;
    animation-duration: $duration;
    animation-fill-mode: forwards;
    animation-name: fadeIn;

    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    } 
}

@mixin fadeOut($delay,$duration) {
    
    opacity: 0;
    animation-delay: $delay;
    animation-duration: $duration;
    animation-fill-mode: forwards;
    animation-name: fadeOut;

    @keyframes fadeOut {
        0% {opacity: 1;}
        100% {opacity: 0;}
    } 
}

@mixin translateXOutScreen($delay,$duration){
    
    animation-name: translateXOutScreen;
    animation-duration:  $duration;
    animation-delay: $delay;
    animation-fill-mode: forwards;

    @keyframes translateXOutScreen {
        0%  {transform: translateX(0);} 
        100% {transform: translateX(-150%);}
    }
}

@mixin translateXInScreen($delay,$duration){
    
    animation-name: translateXOutScreen;
    animation-duration:  $duration;
    animation-delay: $delay;
    animation-fill-mode: forwards;

    @keyframes translateXOutScreen {
        0%  {transform: translateX(150%);} 
        100% {transform: translateX(0%);}
    }
}   

@mixin bounce{

    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: 2;

    @keyframes bounce {
        0%  {transform: translateX(0);} 
        20% {transform: translateX(0);}         
        40% {transform: translateX(-30px);}
        50% {transform: translateX(0);}
        60% {transform: translateX(-15px);} 
        80% {transform: translateX(0);} 
        100% {transform: translateX(0);}
    }
}

@mixin rotate($class, $width, $width-sm) {
    
    .#{$class}.is-switched .is-visible {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
        -webkit-animation: rotate 0.5s;
        -moz-animation: rotate 0.5s;
        animation: rotate 0.5s;
    }
    
    .#{$class}.is-switched .is-hidden {
        -webkit-transform: rotateY(0);
        -moz-transform: rotateY(0);
        -ms-transform: rotateY(0);
        -o-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-animation: rotate-inverse 0.5s;
        -moz-animation: rotate-inverse 0.5s;
        animation: rotate-inverse 0.5s;
        opacity: 0;
    }
    
    .#{$class}.is-switched .is-selected {
        opacity: 1;
    }
    
    .#{$class} > div {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        outline: 1px solid transparent;
    }
    
    .#{$class} .is-visible {
        position: relative;
        z-index: 5;
    }
    
    .#{$class} .is-hidden {
        position: absolute;
        top: 0;
        width: $width;
        z-index: 1;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);

        @include respond-to('sm'){
            width: $width-sm;
        }
    }

    @-webkit-keyframes rotate {
        0% {
          -webkit-transform: perspective(2000px) rotateY(0);
        }
        70% {
          -webkit-transform: perspective(2000px) rotateY(200deg);
        }
        100% {
          -webkit-transform: perspective(2000px) rotateY(180deg);
        }
    }
      
    @-moz-keyframes rotate {
        0% {
          -moz-transform: perspective(2000px) rotateY(0);
        }
        70% {
          -moz-transform: perspective(2000px) rotateY(200deg);
        }
        100% {
          -moz-transform: perspective(2000px) rotateY(180deg);
        }
    }
      
    @keyframes rotate {
        0% {
          -webkit-transform: perspective(2000px) rotateY(0);
          -moz-transform: perspective(2000px) rotateY(0);
          -ms-transform: perspective(2000px) rotateY(0);
          -o-transform: perspective(2000px) rotateY(0);
          transform: perspective(2000px) rotateY(0);
        }
        70% {
          -webkit-transform: perspective(2000px) rotateY(200deg);
          -moz-transform: perspective(2000px) rotateY(200deg);
          -ms-transform: perspective(2000px) rotateY(200deg);
          -o-transform: perspective(2000px) rotateY(200deg);
          transform: perspective(2000px) rotateY(200deg);
        }
        100% {
          -webkit-transform: perspective(2000px) rotateY(180deg);
          -moz-transform: perspective(2000px) rotateY(180deg);
          -ms-transform: perspective(2000px) rotateY(180deg);
          -o-transform: perspective(2000px) rotateY(180deg);
          transform: perspective(2000px) rotateY(180deg);
        }
    }
      
    @-webkit-keyframes rotate-inverse {
        0% {
          -webkit-transform: perspective(2000px) rotateY(-180deg);
        }
        70% {
          -webkit-transform: perspective(2000px) rotateY(20deg);
        }
        100% {
          -webkit-transform: perspective(2000px) rotateY(0);
        }
    }
      
    @-moz-keyframes rotate-inverse {
        0% {
          -moz-transform: perspective(2000px) rotateY(-180deg);
        }
        70% {
          -moz-transform: perspective(2000px) rotateY(20deg);
        }
        100% {
          -moz-transform: perspective(2000px) rotateY(0);
        }
    }
      
    @keyframes rotate-inverse {
        0% {
          -webkit-transform: perspective(2000px) rotateY(-180deg);
          -moz-transform: perspective(2000px) rotateY(-180deg);
          -ms-transform: perspective(2000px) rotateY(-180deg);
          -o-transform: perspective(2000px) rotateY(-180deg);
          transform: perspective(2000px) rotateY(-180deg);
        }
        70% {
          -webkit-transform: perspective(2000px) rotateY(20deg);
          -moz-transform: perspective(2000px) rotateY(20deg);
          -ms-transform: perspective(2000px) rotateY(20deg);
          -o-transform: perspective(2000px) rotateY(20deg);
          transform: perspective(2000px) rotateY(20deg);
        }
        100% {
          -webkit-transform: perspective(2000px) rotateY(0);
          -moz-transform: perspective(2000px) rotateY(0);
          -ms-transform: perspective(2000px) rotateY(0);
          -o-transform: perspective(2000px) rotateY(0);
          transform: perspective(2000px) rotateY(0);
        }
    }
}
